*.bat
*.sh
/*/
LICENSE.txt
CHANGELOG

*.exe

!/src/
/src/minecraft/*
!/src/minecraft/simpletools/
!/src/minecraft/dan200/
!/src/minecraft/universalelectricity/
!/src/minecraft/ic2/
!/include.bat
/src/minecraft/simpletools/language
/src/minecraft/simpletools/textures

!/resources/
!/modversion.txt
!/publish.bat
!/README.md
